<form method="post" action="{{ path('app_document_delete', {'id': document.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ document.id) }}">
    <button class="btn btn-danger">Supprimer ce document</button>
</form>
