{% extends 'base.html.twig' %}

{% block title %}Document index{% endblock %}

{% block body %}
    <h1>Document index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CompteAffaire</th>
                <th>CompteEvent</th>
                <th>CompteDerEv</th>
                <th>NumFiche</th>
                <th>LibelleCiv</th>
                <th>ProprioVehicule</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>NumVoie</th>
                <th>CompAdresse</th>
                <th>CodePostal</th>
                <th>Ville</th>
                <th>TelDom</th>
                <th>TelPor</th>
                <th>TelJob</th>
                <th>Email</th>
                <th>DateCirculation</th>
                <th>DateAchat</th>
                <th>DateDerEnv</th>
                <th>LibelleMarque</th>
                <th>LibelleModele</th>
                <th>Version</th>
                <th>Vin</th>
                <th>Immatriculation</th>
                <th>TypeProspect</th>
                <th>Kilometrage</th>
                <th>Energie</th>
                <th>VendeurVn</th>
                <th>VendeurVO</th>
                <th>CommentaireFacture</th>
                <th>TypeVnVo</th>
                <th>NumDVnVo</th>
                <th>InterVen</th>
                <th>DateEv</th>
                <th>OriginEnv</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for document in documents %}
            <tr>
                <td>{{ document.id }}</td>
                <td>{{ document.compteAffaire }}</td>
                <td>{{ document.compteEvent }}</td>
                <td>{{ document.compteDerEv }}</td>
                <td>{{ document.numFiche }}</td>
                <td>{{ document.libelleCiv }}</td>
                <td>{{ document.proprioVehicule }}</td>
                <td>{{ document.nom }}</td>
                <td>{{ document.prenom }}</td>
                <td>{{ document.numVoie }}</td>
                <td>{{ document.compAdresse }}</td>
                <td>{{ document.codePostal }}</td>
                <td>{{ document.ville }}</td>
                <td>{{ document.telDom }}</td>
                <td>{{ document.telPor }}</td>
                <td>{{ document.telJob }}</td>
                <td>{{ document.email }}</td>
                <td>{{ document.dateCirculation ? document.dateCirculation|date('Y-m-d') : '' }}</td>
                <td>{{ document.dateAchat ? document.dateAchat|date('Y-m-d') : '' }}</td>
                <td>{{ document.dateDerEnv ? document.dateDerEnv|date('Y-m-d') : '' }}</td>
                <td>{{ document.libelleMarque }}</td>
                <td>{{ document.libelleModele }}</td>
                <td>{{ document.version }}</td>
                <td>{{ document.vin }}</td>
                <td>{{ document.immatriculation }}</td>
                <td>{{ document.typeProspect }}</td>
                <td>{{ document.kilometrage }}</td>
                <td>{{ document.energie }}</td>
                <td>{{ document.vendeurVn }}</td>
                <td>{{ document.vendeurVO }}</td>
                <td>{{ document.commentaireFacture }}</td>
                <td>{{ document.typeVnVo }}</td>
                <td>{{ document.numDVnVo }}</td>
                <td>{{ document.interVen }}</td>
                <td>{{ document.DateEv ? document.DateEv|date('Y-m-d') : '' }}</td>
                <td>{{ document.originEnv }}</td>
                <td>
                    <a href="{{ path('app_document_show', {'id': document.id}) }}">show</a>
                    <a href="{{ path('app_document_edit', {'id': document.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="37">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_document_new') }}">Create new</a>
{% endblock %}
