{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    {{ parent() }}
    <!-- Header-->
    <div class="container">
        <a href="{{ path('app_upload_document') }}" class="btn btn-success">Uploader manuellement les documents</a>
    </div>
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-12">Etalik Test</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="{{ path('app_list_document') }}">Dashboard</a></li>
                <li class="breadcrumb-item active">Liste des documents</li>
            </ol>
            <div class="mb-12">
                <a href="{{ path('app_document_new') }}" class="btn btn-primary">Créer nouveau document</a>
            </div>
            <div class="card mb-12">
                <div class="card-header">
                    <svg class="svg-inline--fa fa-table me-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="table" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M64 256V160H224v96H64zm0 64H224v96H64V320zm224 96V320H448v96H288zM448 256H288V160H448v96zM64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64z"></path></svg><!-- <i class="fas fa-table me-1"></i> Font Awesome fontawesome.com -->
                    Liste des documents
                </div>
                <div class="card-body overflow-auto">
                    <table id="example" class="table table-striped">
                        <thead>
                            <tr>
                                <th>Compte affaire</th>
                                <th>Compte Evénement</th>
                                <th>Compte Dernier Evénement</th>
                                <th>Numéro de fiche</th>
                                <th>Libellé civilité</th>
                                <th>Propriété actuel du véhicule</th>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>Numéro et Nom de la voie</th>
                                <th>Complément adresse1</th>
                                <th>Code Postal</th>
                                <th>Ville</th>
                                <th>Téléphone Domicile</th>
                                <th>Téléphone Portal</th>
                                <th>Téléphone Job</th>
                                <th>Email</th>
                                <th>Date de mise en circulation</th>
                                <th>Date achat (date livraison)</th>
                                <th>Date dernier livraison (Véhicule)</th>
                                <th>Libellé marque (Mrq)</th>
                                <th>Libellé mode (Mod)</th>
                                <th>Version</th>
                                <th>VIN</th>
                                <th>Immatriculation</th>
                                <th>Type de prospect</th>
                                <th>Kilométrage</th>
                                <th>Libellé Energie</th>
                                <th>vendeur VN</th>
                                <th>vendeur VO</th>
                                <th>Commentaire de facturation (Veh)</th>
                                <th>Type VN VO</th>
                                <th>Numéro de dossier VN</th>
                                <th>Intermédiaire de vente</th>
                                <th>Date événement (Veh)</th>
                                <th>Origine Evénement</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Compte affaire</th>
                            <th>Compte Evénement</th>
                            <th>Compte Dernier Evénement</th>
                            <th>Numéro de fiche</th>
                            <th>Libellé civilité</th>
                            <th>Propriété actuel du véhicule</th>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Numéro et Nom de la voie</th>
                            <th>Complément adresse1</th>
                            <th>Code Postal</th>
                            <th>Ville</th>
                            <th>Téléphone Domicile</th>
                            <th>Téléphone Portal</th>
                            <th>Téléphone Job</th>
                            <th>Email</th>
                            <th>Date de mise en circulation</th>
                            <th>Date achat (date livraison)</th>
                            <th>Date dernier livraison (Véhicule)</th>
                            <th>Libellé marque (Mrq)</th>
                            <th>Libellé mode (Mod)</th>
                            <th>Version</th>
                            <th>VIN</th>
                            <th>Immatriculation</th>
                            <th>Type de prospect</th>
                            <th>Kilométrage</th>
                            <th>Libellé Energie</th>
                            <th>vendeur VN</th>
                            <th>vendeur VO</th>
                            <th>Commentaire de facturation (Veh)</th>
                            <th>Type VN VO</th>
                            <th>Numéro de dossier VN</th>
                            <th>Intermédiaire de vente</th>
                            <th>Date événement (Veh)</th>
                            <th>Origine Evénement</th>
                            <th>Action</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </main>
{% endblock %}