{% extends 'base.html.twig' %}

{% block title %}Document{% endblock %}

{% block body %}
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-12">Etalik Test</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="{{ path('app_list_document') }}">Dashboard</a></li>
                <li class="breadcrumb-item active">Détail document</li>
            </ol>
            <div class="mb-12">
                <a href="{{ path('app_document_edit', {'id': document.id}) }}" class="btn btn-primary">Mettre à jour</a>

                {{ include('document/_delete_form.html.twig') }}
            </div>
            <div class="card mb-12">
                <div class="card-header">
                    <svg class="svg-inline--fa fa-table me-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="table" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M64 256V160H224v96H64zm0 64H224v96H64V320zm224 96V320H448v96H288zM448 256H288V160H448v96zM64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64z"></path></svg><!-- <i class="fas fa-table me-1"></i> Font Awesome fontawesome.com -->
                    Détail document
                </div>
                <div class="card-body overflow-auto">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ document.id }}</td>
                        </tr>
                        <tr>
                            <th>CompteAffaire</th>
                            <td>{{ document.compteAffaire }}</td>
                        </tr>
                        <tr>
                            <th>CompteEvent</th>
                            <td>{{ document.compteEvent }}</td>
                        </tr>
                        <tr>
                            <th>CompteDerEv</th>
                            <td>{{ document.compteDerEv }}</td>
                        </tr>
                        <tr>
                            <th>NumFiche</th>
                            <td>{{ document.numFiche }}</td>
                        </tr>
                        <tr>
                            <th>LibelleCiv</th>
                            <td>{{ document.libelleCiv }}</td>
                        </tr>
                        <tr>
                            <th>ProprioVehicule</th>
                            <td>{{ document.proprioVehicule }}</td>
                        </tr>
                        <tr>
                            <th>Nom</th>
                            <td>{{ document.nom }}</td>
                        </tr>
                        <tr>
                            <th>Prenom</th>
                            <td>{{ document.prenom }}</td>
                        </tr>
                        <tr>
                            <th>NumVoie</th>
                            <td>{{ document.numVoie }}</td>
                        </tr>
                        <tr>
                            <th>CompAdresse</th>
                            <td>{{ document.compAdresse }}</td>
                        </tr>
                        <tr>
                            <th>CodePostal</th>
                            <td>{{ document.codePostal }}</td>
                        </tr>
                        <tr>
                            <th>Ville</th>
                            <td>{{ document.ville }}</td>
                        </tr>
                        <tr>
                            <th>TelDom</th>
                            <td>{{ document.telDom }}</td>
                        </tr>
                        <tr>
                            <th>TelPor</th>
                            <td>{{ document.telPor }}</td>
                        </tr>
                        <tr>
                            <th>TelJob</th>
                            <td>{{ document.telJob }}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{ document.email }}</td>
                        </tr>
                        <tr>
                            <th>DateCirculation</th>
                            <td>{{ document.dateCirculation ? document.dateCirculation|date('Y-m-d') : '' }}</td>
                        </tr>
                        <tr>
                            <th>DateAchat</th>
                            <td>{{ document.dateAchat ? document.dateAchat|date('Y-m-d') : '' }}</td>
                        </tr>
                        <tr>
                            <th>DateDerEnv</th>
                            <td>{{ document.dateDerEnv ? document.dateDerEnv|date('Y-m-d') : '' }}</td>
                        </tr>
                        <tr>
                            <th>LibelleMarque</th>
                            <td>{{ document.libelleMarque }}</td>
                        </tr>
                        <tr>
                            <th>LibelleModele</th>
                            <td>{{ document.libelleModele }}</td>
                        </tr>
                        <tr>
                            <th>Version</th>
                            <td>{{ document.version }}</td>
                        </tr>
                        <tr>
                            <th>Vin</th>
                            <td>{{ document.vin }}</td>
                        </tr>
                        <tr>
                            <th>Immatriculation</th>
                            <td>{{ document.immatriculation }}</td>
                        </tr>
                        <tr>
                            <th>TypeProspect</th>
                            <td>{{ document.typeProspect }}</td>
                        </tr>
                        <tr>
                            <th>Kilometrage</th>
                            <td>{{ document.kilometrage }}</td>
                        </tr>
                        <tr>
                            <th>Energie</th>
                            <td>{{ document.energie }}</td>
                        </tr>
                        <tr>
                            <th>VendeurVn</th>
                            <td>{{ document.vendeurVn }}</td>
                        </tr>
                        <tr>
                            <th>VendeurVO</th>
                            <td>{{ document.vendeurVO }}</td>
                        </tr>
                        <tr>
                            <th>CommentaireFacture</th>
                            <td>{{ document.commentaireFacture }}</td>
                        </tr>
                        <tr>
                            <th>TypeVnVo</th>
                            <td>{{ document.typeVnVo }}</td>
                        </tr>
                        <tr>
                            <th>NumDVnVo</th>
                            <td>{{ document.numDVnVo }}</td>
                        </tr>
                        <tr>
                            <th>InterVen</th>
                            <td>{{ document.interVen }}</td>
                        </tr>
                        <tr>
                            <th>DateEv</th>
                            <td>{{ document.DateEv ? document.DateEv|date('Y-m-d') : '' }}</td>
                        </tr>
                        <tr>
                            <th>OriginEnv</th>
                            <td>{{ document.originEnv }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
